#header {
    .logo {
        grid-area: logo;

        .logo-icon{
            background-color: red;
        }
    }

    .menuAction {
        grid-area: menuAction;
    }

    .searchBox {
        grid-area: searchBox;
    }

    .postProduct {
        grid-area: postProduct;
    }

    .avatar {
        border-radius: 100px;
        box-shadow   : 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    /* Layout khi dưới 800px */
    @media (max-width: 800px) {
        display              : grid;
        gap                  : 12px;
        grid-template-columns: 1fr auto;
        grid-template-rows   : auto auto;
        grid-template-areas  :
            "logo postProduct avatar"
            "searchBox searchBox searchBox";

        .logo {
            grid-area   : logo;
            justify-self: start;
        }

        .postProduct,
        .avatar {
            justify-self: end;
        }

        /* Menu không hiển thị khi nhỏ hơn 800px */
        .menuAction {
            display: none;
        }

        /* Search box chiếm cả hàng */
        .searchBox {
            width : 100%;
            margin: 0;
        }

    }

}